<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado del Clima</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <h1>Clima en <%= weatherData.name %></h1>
    <p>Temperatura: <%= weatherData.main.temp %> °C</p>
    <p>Condición: <%= weatherData.weather[0].description %></p>
    <a href="/">Volver</a>
    </div>
</body>
</html>
